@model Bookish.Models.ListOfBooks;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Display a Book</h1>
    <br>
    @foreach (var b in Model.BookList){
    <h3>Title: @b.Title</h3>
     <h3>Author: @b.BookAuthor</h3>
    <h3>Published on: @b.Year</h3>
   <form asp-area="" asp-controller="Book" asp-action="AddBookCopy" asp-route-id=@b.BookId method="post">
              
            <br/>
            <button type="submit">Add a copy</button>
             </form>
             
    <br>
     <a asp-area="" asp-controller="Book" asp-action="Checkout">Checkout this book</a>
   
   
    }
    


</div>